In [2]:
%matplotlib inline
import numpy as np
import scipy as sp
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency

In [3]:
cd = pd.read_csv("D://assignments//assignment 3//Costomer+OrderForm.csv")

print(cd.head())

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [5]:
cd.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [15]:
phillippines_form=cd['Phillippines'].value_counts()
indonesia_form=cd['Indonesia'].value_counts()
malta_form=cd['Malta'].value_counts()
india_form=cd['India'].value_counts()
print(phillippines_form)
print(indonesia_form)
print(indonesia_form)
print(india_form)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

Null hypothesis:defective % varies by centre
Alternative hypothesis:defective percentage is the same

In [11]:
alpha=0.05
error_free=[271,267,267,280]
defective=[29,33,33,20]
value=[error_free,defective]
print(value)

[[271, 267, 267, 280], [29, 33, 33, 20]]

In [12]:
stat, p, dof, expected = chi2_contingency(value)
print('stat = ',stat, '\npvalue = ', p ,'\ndof = ', dof ,'\nexpected value = ',expected)

stat =  4.33740733319976
pvalue =  0.22725982821249066
dof =  3
expected value =  [[271.25 271.25 271.25 271.25]
 [ 28.75  28.75  28.75  28.75]]

In [13]:
if p < 0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

we accept null hypothesis

In [14]:
crit = sp.stats.chi2.ppf(q = 0.95, df = 3)
print("Critical value")
print(crit)

Critical value
7.814727903251179

In [17]:
observed_chi_val = stat
print(observed_chi_val)

4.33740733319976

In [18]:
if observed_chi_val <= crit:
    print ('variables are not related')
else:
    print ('variables are not independent')

variables are not related